<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="DeviceAddedCommand" value="echo 'Device added ({FAMILY} {GROUP})'" />
        <add key="DeviceRemovedCommand" value="echo 'Device removed ({FAMILY} {GROUP})'" />
        <add key="SmtpServer" value="mail.example.com" />
        <add key="EmailAddress" value="user@example.com" />
        <add key="SleepTime" value="1" />
    </appSettings>
</configuration>