<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="USBDeviceConnectedCommand" value="echo 'Device added ({FAMILY} {GROUP})'" />
        <add key="USBDeviceDisconnectedCommand" value="echo 'Device removed ({FAMILY} {GROUP})'" />
        <add key="SmtpServer" value="mail.example.com" />
        <add key="EmailAddress" value="user@example.com" />
        <add key="SleepTime" value="3" />
        <add key="TimeoutReadingDeviceInfo" value="30" />
        <add key="CommandTimeout" value="120" />
        <add key="IgnoredSerialPorts" value="/dev/ttyAMA0" />
    </appSettings>
</configuration>