<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="DeviceAddedCommand" value="notify-send 'Device added ({FAMILY} {GROUP})'" />
        <add key="DeviceRemovedCommand" value="notify-send 'Device removed ({FAMILY} {GROUP})'" />
        <add key="SleepTime" value="3" />
    </appSettings>
</configuration>