 [Unit]
 Description=Arduino Plug and Play Service
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/bin/sh -c "mkdir -p /usr/local/ArduinoPlugAndPlay; cd /usr/local/ArduinoPlugAndPlay/; wget --no-cache -O - https://raw.githubusercontent.com/CompulsiveCoder/ArduinoPlugAndPlay/master/scripts-web/start-from-web.sh | sh"

 [Install]
 WantedBy=multi-user.target
